.noticia{
    height: 500px;


    width: 90%;
    border: 2px solid;
    border-radius: 6px;
    border-color: black;
    margin-bottom: 15px;
}
.imagefotter{
width: 120px;


float: left;
padding-left: 80px;
}
.foto{
height:100px;
width:100px;
margin: 10px;
border: solid;
border-radius: 5px;
}
.containetlogos{
    float: left;
}
.institucion{
    height: 400px;


    width: 90%;
    border: 2px solid;
    border-radius: 6px;
    border-color: black;
    margin-bottom: 15px;
}
body
{
	margin: 0px;
	padding: 0px;
	background: #EBEBEB url(images/bg01.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
	float: center;
	width: 100%;
}

h1, h2, h3
{
	float: center;
	float: cente;
	float: cent;
	float: cen;
	float: ce;
	margin: 0;
	padding: 0;
	/* float: center; */
	width: px;
}

p, ol, ul
{
	margin-top: 0px;
	
}

.parrafo{
font-size:100%;
text-align: left;

margin-left: 30px;
}
p
{
	line-height: 180%;
	 
}
.title2{
font-size:150%;
text-align:left;
font-weight: bold;


margin-left: 5px;
}
.div-registro{
    
    margin-top: 0%;
	
    margin-left: 0;
}
.auxestadistica{
    float: left;

}
.estadisticafoto{margin-top: 10%;
margin-left: 0;float: left;text-align: left;}
.registro2{
    width: 24%;
}
.image-perfil {
    width: 10%;


    height: initial;
    margin-top: 20px;
    border-radius: 10px;
    border-style: double;
}
strong
{
}

a
{
	color: #05598A;
	text-decoration:none;
	
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

	.image-noticia
	{
		display: inline-block;
		width:90%;
		height:35%;
		float:center;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr
{
	display: none;
}

/** WRAPPER */

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
	/* width: 200%; */
}

.container
{
	width: 1400px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
	position: relative;
	height: 150px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 3em;
		left: 0;
		width: 100%;
	}
	
	#logo h1
	{
		display: inline-block;
		font-size: 2.5em;
		margin-bottom: auto;
		text-transform: uppercase;
		font-weight: 700;
		color: #FFF;

}

	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#logo span
	{
		margin-left: 0.50em;
		/* margin-bottom: 50px; */
		color: #FFF;
	}
	
	#logo .icon-leaf
	{
		color: #698C10;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		right: 0;
		top: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 0em 1.5em;
		height: 150px;
		letter-spacing: 0.20em;
		line-height: 150px;
		text-decoration: none;
		font-size: 0.95em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		
		background: #FFFFFF url(images/bg01.png) repeat;
		border-top: 4px solid #0A87CF;
		color: #333;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		margin-bottom: 3em;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		position: relative;
		overflow: hidden;
		padding: 6em 6em 5em 6em;
		text-align: center;
	
		float: center;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: none;
		width: 790px;
		text-align: center;
		margin: 0 auto;
	
		border: 5px solid;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 345px;
	
		border: 2px solid;
		border-radius: 10px;
}
	
	#sidebar .title h2
	{
		font-size: 1.6em;
	}
	
	#sidebar .box1
	{
		margin-bottom: 3em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
	/* overflow: hidden; */
	/* padding-top: 450px; */
	/* height: 150px; */
	/* background: url('images/header.jpg') no-repeat top center; */
	/* background-size: cover; */
	/* width: 200%; */
}

#header-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-image: url('images/bg01.png'); */
	opacity: .5;
}

#header-wrapper2
{
	background: #05598A;
	box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.05);
}



	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

   #redes-sociales
      {
   }
   
   #2
     {
    	 
   }

    #info-empresa
	{
	  
	  text-align: center;
	  margin: 20 px;
	  display:inline-block;
	 
	
	  width: 400px;
	 height:250 px;
	
	  float: left;
}
   
   #contacto-pag
     {
	 width:250 px;
	 height:250 px;
	  text-align: center;
	  margin: 20 px;
	  display:inline-block;
   
	 float: left;
	 width: 400px;
}

    
	#fb
	{
	width:250 px;
	 height:250 px;
	padding: 30 px;
	margin: 20 px;
	display:inline-block;
	}
	
	#tw
	{
	 width:250 px;
	 height:250 px;
	 padding: 30 px;
	 margin: 20 px;
	 display:inline-block;
	 
	}

	#portfolio-wrapper
	{
		background: #EBEBEB url(images/bg01.png) repeat;
		border-top: 1px solid #D4D4D4;
		padding: 5em 0em 3em 0em;
		text-align: center;
		width: 1400px;

		height: 200px;
		float: center;

		position: relative;
		width: 1400px;  margin: 0px auto;
		/* padding-left: 30%; */

		/* padding-right: 20%; */
	}
	
	#portfolio
	{
		overflow: hidden;
		text-align: center;
		color: #5C5C5C;
	}
	
	#portfolio .title h2
	{
		color: #5C5C5C;
	}

	#portfolio .byline
	{
		color: #A3BD77;
	}
	
	#portfolio .description
	{
		font-size: 1.5em;
	}
	
	#column1,
	#column2,
	#column3,
	#column4
	{
		width: 282px;
	}
	
	#column1,
	#column2
	{
		float: left;
		margin-right: 24px;
	}
	
	#column3
	{
		float: left;
	}
	
	#column4
	{
		float: right;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 3em 0em 5em 0em;
		border-top: 1px solid #D4D4D4;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		font-size: 0.90em;
		color: #5C5C5C;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #5C5C5C;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 0;
	
		text-align: center;
}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;
		color: #171717;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 1.5em;
		padding: 0.50em 3em 0.50em 2em;
		background: #05598A;
		border-left: 4px solid #0A87CF;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	
		float: center;
		/* margin-left: 8%; */
}
	
		.button:before
		{
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 20px;
			text-align: center;
			color: #FFF;
		}

/*********************************************************************************/
/* Two Column                                                                    */
/*********************************************************************************/

	#two-column
	{
		padding-top: 3em;
	}
	
	#two-column .title h2
	{
		font-size: 1.6em;
	}
	
	#two-column #tbox1
	{
		float: left;
		width: 370px;
	}

	#two-column #tbox2
	{
		float: right;
		width: 370px;
	}

	#two-column #tbox1 ul.style2,
	#two-column #tbox2 ul.style2
	{
		margin-top: 2.2em;
	}















